/* !------X-small Device---->*/
@media (max-width: 575.98px) {
  .navbar-toggler i {
    color: #fff;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-item {
    background-color: #1a2929;
    text-align: center;
  }
  #hero {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .hero-left h5 {
    font-size: 24px;
  }
  .hero-left h6 {
    font-size: 21px;
  }
  .hero-left h1,
  .hero-left h2 {
    font-size: 42px;
  }
  .hero-left p {
    font-size: 14px;
    padding-right: 0px;
  }
  .btns a {
    font-size: 14px;
    padding: 18px 42px;
  }
  .hero-right {
    margin-top: 100px;
    width: 350px;
    height: 350px;
  }
  .img {
    top: -98px;
    left: 5px;
  }
  /* .range::after {
    right: 20px;
  }
  .range2::after {
    right: 90px;
  }
  .range3::after {
    right: 50px;
  } */
  #about {
    padding-top: 6px;
    padding-bottom: 50px;
  }
  .headline p {
    font-size: 15px;
    padding: 0 35px;
    margin-bottom: 14px;
  }
  #service {
    padding-bottom: 50px;
  }
  .headline h2 {
    font-size: 52px;
  }
  #project .btns {
    flex-direction: column;
    display: flex;
  }
  #project .btns {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #project {
    padding-bottom: 50px;
  }
  .project-item {
    width: 300px;
  }
  .carousel-caption {
    top: 53px;
    margin-left: 105px;
  }
  .carousel-caption h5 {
    font-size: 14px;
  }
  #contact .btns a {
    margin-left: -10px;
    font-size: 14px;
    padding: 25px 20px;
  }
  footer .nav-item {
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
  }
  .footer-btm h6 {
    padding: 12px 54px;
    font-size: 14px;
  }
}

/* !<------Small Device---->*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-toggler i {
    color: #fff;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-item {
    background-color: #1a2929;
    text-align: center;
  }
  #hero {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .hero-left h5 {
    font-size: 24px;
  }
  .hero-left h6 {
    font-size: 21px;
  }
  .hero-left h1,
  .hero-left h2 {
    font-size: 42px;
  }
  .hero-left p {
    font-size: 14px;
    padding-right: 0px;
  }
  .btns a {
    font-size: 14px;
    padding: 18px 42px;
  }
  .hero-right {
    margin-top: 100px;
    width: 350px;
    height: 350px;
  }
  .img {
    top: -98px;
    left: 5px;
  }
  /* .range::after {
    right: 32px;
  }
  .range2::after {
    right: 135px;
  }
  .range3::after {
    right: 84px;
  } */
  #about {
    padding-top: 6px;
    padding-bottom: 50px;
  }
  #project .btns {
    flex-direction: column;
    display: flex;
  }
  #project .btns {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #project {
    padding-bottom: 50px;
  }
  .project-item {
    width: 300px;
  }
  footer .nav-item {
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
  }
  .footer-btm h6 {
    padding: 12px 42px;
    font-size: 14px;
  }
}

/* !<------Medium Device---->*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
  }
  .hero-right {
    width: 350px;
    height: 350px;
  }
  .img {
    top: -103px;
    left: 2px;
  }
  .hero-left h5 {
    font-size: 28px;
    font-weight: 700;
    color: #fd6f00;
  }
  .hero-left h1,
  .hero-left h2 {
    font-size: 40px;
  }
  .hero-left p {
    font-size: 16px;
    padding-right: 0px;
  }
  a {
    font-size: 14px;
    line-height: 21px;
    padding: 22px 44px;
  }
  #about .img img {
    width: 120%;
  }
  #about .img {
    top: -117px;
    left: 12px;
  }
  /* .range::after {
    right: 18px;
  }
  .range2::after {
    right: 82px;
  }
  .range3::after {
    right: 48px;
  } */
  #project .btns a {
    padding: 14px;
  }
  .project-item {
    width: 370px;
  }
  #contact .btns a {
    padding: 24px 60px;
  }
  #contact {
    padding: 50px 0;
  }
  .footer-nav {
    padding-bottom: 0px;
  }
  .nav-item .nav-link {
    padding: 5px;
  }
}

/* !<------Large Device---->*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-left h1,
  .hero-left h2 {
    font-size: 64px;
  }
  .hero-right {
    width: 370px;
    height: 370px;
  }
  .img {
    top: -112px;
    left: 2px;
  }
  .about-right {
    margin-left: 52px;
  }
  #about .img img {
    width: 120%;
  }
  #about .img {
    top: -96px;
    left: 27px;
  }
  /* .range::after {
    right: 20px;
  }
  .range2::after {
    right: 103px;
  }
  .range3::after {
    right: 62px;
  } */
  #project .btns a {
    font-size: 14px;
    padding: 18px;
  }
  .project-item {
    width: 300px;
  }
  footer .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
  }
}

/* !<------X-Large Device---->*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* .range2::after {
    right: 147px;
  } */
}

/* !<------XX-Large Device---->*/
@media (min-width: 1400px) {
  /* .range2::after {
    right: 175px;
  } */
}
